.main-box{
    height: 90vh;
    display: flex;
    align-items: center;
}
.screen{
    padding: 10px;
    height: 280px;
    width: 250px;
    background-color: rgba(255, 192, 203, 0.577);
}
.width100{
    width: 95%;
    height: 20px;
}
.numbers{
    display: grid;
    padding: 10px;
    text-align: center;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.numbers{
    span{
        padding: 15px;
        border-radius: 50%;
        background-color: rgba(165, 42, 42, 0.306);
        color: brown;
    }
}