.main-box{
    height: 300px;
    width: 250px;
    background-color: rgba(255, 192, 203, 0.577);
}
.width100{
    width: 95%;
    height: 20px;
}
.numbers{
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
}
.numbers{
    span{
        padding: 15px;
        border-radius: 50%;
        background-color: rgba(165, 42, 42, 0.306);
        color: brown;
    }
}